{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<section id="formation_new">
    <div class="wrapper">
        <div class="content">
        <h1>Ajouter une formation</h1>

            {{ form_start(form) }}
                <div class="field">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}
                </div>

                <div class="field">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'input'}}) }}
                    {{ form_help(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
                <div id="category-duration">
                    <div class="field">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category, {'attr': {'class': 'input'}}) }}
                        {{ form_help(form.category) }}
                        {{ form_errors(form.category) }}
                    </div>
                    <div class="field" id="duration">
                        {{ form_label(form.duration) }}
                        {{ form_widget(form.duration, {'attr': {'class': 'input'}}) }}
                        {{ form_help(form.duration) }}
                        {{ form_errors(form.duration) }}
                    </div>
                </div>
                <div class="field">
                    {{ form_label(form.videoFile) }}
                    {{ form_widget(form.videoFile, {'attr': {'class': 'input'}}) }}
                    {{ form_help(form.videoFile) }}
                    {{ form_errors(form.videoFile) }}
                </div>

                <div class="field">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile, {'attr': {'class': 'input'}}) }}
                    {{ form_help(form.imageFile) }}
                    {{ form_errors(form.imageFile) }}
                </div>
        
                <div class="field">
                    <button class="button">Ajouter</button>
                </div>
            {{ form_end(form) }}
</div>
    </div>
</section>

{% endblock %}