{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<section id="myformations">
    <div class="wrapper">
        <div class="content">
            <h1>Mes formations</h1>
            <div class="container">

                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formation in user.formations %}
                        <tr>
                            <td>{{formation.title}}</td>
                            <td>{{formation.category}}</td>
                            <td><a href="{{ url('formation_edit', { id: formation.id }) }}" class="button">Modifier</a></td>
                            <td>
                                <form action="{{ url('formation_delete', { id: formation.id }) }}" method="post">
                                    {# the argument of csrf_token() is an arbitrary string used to generate the token #}
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-formation')}}"/>
                                
                                    <button class="button" type="submit">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

{% endblock %}
